git+https://github.com/huggingface/accelerate.git@main#egg=accelerate
git+https://github.com/huggingface/diffusers.git@main#egg=diffusers
git+https://github.com/huggingface/peft.git@main#egg=peft
safetensors>=0.3.0
